<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
        body {
            /* Ровный шрифт без засечек */
            font-family: sans-serif;
            /* Выравнивание по центру */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
            text-align: center;
        }
    </style>
</head>
<body>

<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}">Текст сообщения</h1>
    </th:block>
</div>

<a th:href="@{/users}" style="display: inline-block; margin-top: 20px; color: #007bff; text-decoration: none;">
    Переход на страницу с пользователями
</a>

</body>
</html>