<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style>
        table { width: 50%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>

<h2>Таблица пользователей</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Возвраст</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td>
            <a th:href="@{/users/user/details(id=${user.id})}" th:text="${user.firstName}">Имя</a>
        </td>
        <td th:text="${user.lastName}">Фамилия</td>
        <td th:text="${user.email}">Почта</td>
        <td th:text="${user.age}">Возраст</td>
    </tr>
    </tbody>
</table>

<a th:href="@{/users/add}"
   th:style="'display: inline-block; margin-top: 20px;'">
    Добавить пользователя
</a>

</body>
</html>