<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h2>Редактирование пользователя</h2>

<form th:action="@{/users/update}" th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{firstName}" placeholder="Введите имя" required />
    </div>
    <br/>
    <div>
        <label>Фамилия:</label>
        <input type="text" th:field="*{lastName}" placeholder="Введите фамилию" required />
    </div>
    <br/>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" placeholder="example@mail.com" required />
    </div>
    <br/>
    <div>
        <label>Возраст:</label>
        <input type="number" th:field="*{age}" min="0" required />
    </div>
    <br/>
    <button type="submit">Обновить пользователя</button>
</form>


<form th:action="@{/users/remove}" th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <br/>
    <button type="submit">Удалить пользователя</button>
</form>

<a th:href="@{/users}"
   th:style="'display: inline-block; margin-top: 20px;'">
    Назад к списку</a>
</body>
</html>